@import "normalize";
@import "variables";
@import "utils";
@import "type";
@import "input";
@import "output";

// -----------------------------------------------------------

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background;
  color: $dark-grey;
  font-family: $primary-font-regular;
  font-size: 16px;
}

.container__outside--input {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #FFF0F3;
}

.container__outside--output {
  width: 50%;
  float: left;
}

.container__inside {
	position: relative;
  width: 300px;
	margin: 0 auto;
  margin-top: 170px;
}

@media screen and (max-width: 700px) {
  
  .container__outside--input, .container__outside--output {
    width: 100%;
    height: auto;
    clear: both;
  }

  .container__inside {
    margin-top: 50px;
    margin-bottom: 50px;
  }

}