@import "normalize";
@import "variables";
@import "utils";

// -----------------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $dark-grey;
  font-size: $medium-space;
}

.container {
	width: 320px;
	position: relative;
	margin: 0 auto;
  margin-top: 200px;
}

#search-form {
  width: 320px;
  border-bottom: 2px solid black; 
}

input {
  color: black;
  border: 0px;
  height: auto;
  background: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder {
   font-weight: 300;
   color: $grey;
}

:-moz-placeholder { 
   font-weight: 300;
   color: $grey;  
}

::-moz-placeholder { 
   font-weight: 300;
   color: $grey;  
}

:-ms-input-placeholder {  
   font-weight: 300;
   color: $grey;  
}

.search-field {
  width: 285px;
  padding: 10px 10px 5px 2px;
  background: transparent;
}

.btn {
  padding-bottom: 0px
}

.btn:hover {
  color: $grey;
}

.top-result {
  display: none;
}

.category {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: $primary-color;
  border-radius: 50%;
  padding-top: 8px;
  text-align: center;
  margin-top: 30px;
}

.category img {
  max-width: 32px;
}

.error {
  display: none;
  color: red;
}