@import "variables";

// -------------------------

#top-result {
  display: none;
}

.error {
  display: none;
  color: red;
}

.output__venue {
  font-family: 'Brandon Text Bold';
}

.output__venue--category {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: $primary-color;
  border-radius: 50%;
  padding-top: 4px;
  margin-top: 3px;
  text-align: center;
}

.output__venue--category img {
  max-width: 24px;
}

.output__venue--details {
  font-family: 'Brandon Text Regular';
}

.output__box {
  width: 300px;
  height: $large-space;
  padding: $small-space;
  padding-top: 6px;
  margin-bottom: -1px;
  border: 1px solid #0790E9;
  color: #0790E9;
}

.output__btn {
  @extend .output__box;
  margin-top: $small-space;
  background-color: #0790E9;
}