// Color
$primary-color: #FF7171;
$yellow: #FFF76A;
$blue: #ABE7FF;
$dark-grey: #2B2B2B;
$background: #FAFAFA;

// Space
$medium-space: 24px;
$large-space: $medium-space * 1.5;
$x-large-space: $medium-space * 2;
$small-space: $medium-space / 2;
$x-small-space: $medium-space / 3;

// Type
$primary-font: "brandon-grotesque", sans-serif;
$secondary-font: "minion-pro", "Georgia", serif;
