// Color
$primary-color: #2ecc71;
$yellow: #FFF76A;
$blue: #ABE7FF;

// Space
$large-space: 80px;
$medium-space: $large-space / 2;
$small-space: $large-space / 4;

// Type
$primary-font: "brandon-grotesque", sans-serif;
$secondary-font: "minion-pro", "Georgia", serif;
